alabaster==0.7.12
apipkg==1.5
appdirs==1.4.4
apturl==0.5.2
argon2-cffi==20.1.0
arrow==0.16.0
astor==0.8.1
astroid==2.4.2
async-generator==1.10
attrs==20.2.0
Babel==2.8.0
backcall==0.2.0
bcrypt==3.1.7
beautifulsoup4==4.9.1
bleach==3.2.1
blinker==1.4
Brlapi==0.7.0
bs4==0.0.1
certifi==2020.6.20
cffi==1.14.3
chardet==3.0.4
cliapp==1.20180812.1
click==7.1.2
colorama==0.4.3
colorspacious==1.1.2
command-not-found==0.3
coverage==5.2.1
cryptography==2.8
cupshelpers==1.0
cycler==0.10.0
dbus-python==1.2.16
decorator==4.4.2
defer==1.0.6
defusedxml==0.6.0
distlib==0.3.1
distro==1.4.0
distro-info===0.23ubuntu1
docutils==0.16
duplicity==0.8.12.0
entrypoints==0.3
execnet==1.7.1
fancycompleter==0.9.1
fasteners==0.14.1
filelock==3.0.12
flake8==3.8.4
flake8-docstrings==1.5.0
Flask==1.1.2
flask-marshmallow==0.14.0
Flask-SQLAlchemy==2.4.4
future==0.18.2
gunicorn==20.0.4
html5validator==0.3.3
httplib2==0.14.0
idna==2.10
imagesize==1.2.0
importlib-metadata==1.7.0
iniconfig==1.0.1
ipykernel==5.3.4
ipython==7.19.0
ipython-genutils==0.2.0
ipywidgets==7.5.1
isort==5.5.2
itsdangerous==1.1.0
jedi==0.17.2
Jinja2==2.11.2
jsonschema==3.2.0
jupyter-client==6.1.7
jupyter-core==4.6.3
jupyterlab-pygments==0.1.2
keyring==18.0.1
kiwisolver==1.3.1
language-selector==0.1
launchpadlib==1.10.13
lazr.restfulclient==0.14.2
lazr.uri==1.0.3
lazy-object-proxy==1.4.3
lockfile==0.12.2
louis==3.12.0
lxml==4.6.1
macaroonbakery==1.3.1
Mako==1.1.0
Markdown==3.1.1
MarkupSafe==1.1.1
marshmallow==3.9.1
marshmallow-sqlalchemy==0.24.1
-e git+https://github.com/matplotlib/matplotlib.git@a129e6ec2c7ee8989a1e25a8f53b545ab9dc34af#egg=matplotlib
mccabe==0.6.1
mistune==0.8.4
monotonic==1.5
more-itertools==8.5.0
nbclient==0.5.1
nbconvert==6.0.7
nbformat==5.0.8
nest-asyncio==1.4.2
netifaces==0.10.4
notebook==6.1.5
numpy==1.19.4
numpydoc==1.1.0
oauthlib==3.1.0
olefile==0.46
packaging==20.4
pandas==1.1.4
pandocfilters==1.4.3
paramiko==2.6.0
parso==0.7.1
pdbpp==0.10.2
pexpect==4.6.0
pickleshare==0.7.5
pikepdf==2.0.0
Pillow==7.0.0
pluggy==0.13.1
prometheus-client==0.8.0
prompt-toolkit==3.0.8
protobuf==3.6.1
ptyprocess==0.6.0
py==1.9.0
pycairo==1.16.2
pycodestyle==2.6.0
pycparser==2.20
pycups==1.9.73
pydocstyle==5.1.1
pyflakes==2.2.0
Pygments==2.6.1
PyGObject==3.36.0
PyJWT==1.7.1
pylint==2.6.0
pymacaroons==0.13.0
PyNaCl==1.3.0
pyparsing==2.4.7
pyrepl==0.9.0
pyRFC3339==1.1
pyrsistent==0.17.3
pytest==6.0.1
pytest-cov==2.10.1
pytest-forked==1.3.0
pytest-mock==3.3.1
pytest-rerunfailures==9.1.1
pytest-timeout==1.4.2
pytest-xdist==2.1.0
python-apt==2.0.0+ubuntu0.20.4.1
python-dateutil==2.8.1
python-debian===0.1.36ubuntu1
python-dotenv==0.15.0
pytz==2019.3
pyxdg==0.26
PyYAML==5.3.1
pyzmq==19.0.2
reportlab==3.5.34
requests==2.24.0
requests-unixsocket==0.2.0
scipy==1.5.4
screen-resolution-extra==0.0.0
SecretStorage==2.3.1
Send2Trash==1.5.0
simplejson==3.16.0
six==1.15.0
snowballstemmer==2.0.0
soupsieve==2.0.1
Sphinx==3.3.0
sphinx-copybutton==0.3.1
sphinx-gallery==0.8.1
sphinxcontrib-applehelp==1.0.2
sphinxcontrib-devhelp==1.0.2
sphinxcontrib-htmlhelp==1.0.3
sphinxcontrib-jsmath==1.0.1
sphinxcontrib-qthelp==1.0.3
sphinxcontrib-serializinghtml==1.1.4
sphinxcontrib-svg2pdfconverter==1.1.0
SQLAlchemy==1.3.20
systemd-python==234
terminado==0.9.1
testpath==0.4.4
toml==0.10.1
tornado==6.1
traitlets==5.0.5
ttystatus==0.38
typed-ast==1.4.1
ubuntu-advantage-tools==20.3
ubuntu-drivers-common==0.0.0
ufw==0.36
unattended-upgrades==0.1
urllib3==1.25.10
usb-creator==0.3.7
virtualenv==20.0.31
wadllib==1.3.3
wcwidth==0.2.5
webencodings==0.5.1
Werkzeug==1.0.1
widgetsnbextension==3.5.1
wmctrl==0.3
wrapt==1.12.1
xkit==0.0.0
zipp==3.1.0
