.popup{
    position:absolute;
    z-index: 50;
    top: 0px;
    left: 0px; 
    font-size: 14px;
}

.grafImage{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-color: none;
    border: double 2px transparent;
    border-radius: 80px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgb(58, 28, 11),#573b2e);
    background-origin: border-box;
    background-clip: content-box, border-box;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    padding: 0;
    cursor: pointer;
} 


.carousel-control-prev-icon {
    background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M5.25 0l-4 4 4 4 1.5-1.5-2.5-2.5 2.5-2.5-1.5-1.5z'/%3E%3C/svg%3E") !important;
   }
   
   .carousel-control-next-icon {
     background-image: url("data:image/svg+xml;charset=utf8,%3Csvg xmlns='http://www.w3.org/2000/svg' fill='%23000' viewBox='0 0 8 8'%3E%3Cpath d='M2.75 0l-1.5 1.5 2.5 2.5-2.5 2.5 1.5 1.5 4-4-4-4z'/%3E%3C/svg%3E") !important;
   }



.card{
    margin:0;
    border: none;
    
}
