.infomodal-body{
    padding:0px;
    height:auto;
}
.infomodal-body img{
    max-width:100%;
    max-font-size: 100%;
    align-items: flex-start;
    max-height: -webkit-fill-available;
    
}
.artist-button{
    padding: 0px 4px;
    font-size: 15px;
}
.artist-header{
    margin-bottom: 4px;
    display: inline-block;
    font-size: 16px;
}

.other-works-header{
    margin-top: 6px;
    font-size: 15px;
}

.modal-dialog{
    max-width: 450px;
}

.modal-header{
    padding:5px;
}


.id-box{
    background-color: black;
    color:white;
}

.timeline-button{
    display: inline-block;
    float:right;
}

.other-works img{
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-color: none;
    border: double 2px transparent;
    border-radius: 80px;
    background-image: linear-gradient(white, white), radial-gradient(circle at top left, rgb(58, 28, 11),#573b2e);
    background-origin: border-box;
    background-clip: content-box, border-box;
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
    padding: 0;
    cursor: pointer;
    margin:4px;

}

@media only screen and (max-device-width: 480px) {
    .infomodal-body{
        padding:0px;
        max-height:600px;
        
    }
    .infomodal-body img{
        max-width:100%;
        max-height: 600px;
        
    }
}