
.grafImage img {
    border-radius: 50%;
    width: 75px;
    height: 75px;
    background-color:#fff;
    border:4px solid grey;    
    -moz-border-radius:50%;
    -webkit-border-radius:50%;
} 

.grafImage{
    padding: 0;
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}
.loader {
    margin-top: 50;
  }

  .cluster-marker {
    width: 75px;
    height: 75px;
    background-color: none;
    border: double 2px transparent;
    border-radius: 80px;
    background-image: radial-gradient(#800020 ,#800020);
    background-origin: border-box;
    background-clip: content-box, border-box;
    padding: 10px;
    display: flex;
    justify-content: center;
    align-items: center;
    color:white;
  }


.split {
  height:100%;
  width:70%;
  position: absolute;
  z-index:1;
  top: 0;
  overflow-x: hidden;
  padding-top:0px;
}

.left {
  width:70%;
  left:0;
}

.right{
  width:30%;
  right:0;
  background-color: rgb(43, 38, 38);
}

.bottomRightButtons{
    position: absolute;
    bottom: 8px;
    right: 16px;
    z-index: 50;
}

.bottomLeftButtons{
    position: absolute;
    bottom: 8px;
    left: 16px;
    z-index: 50;
}


.btn-primary {
    color: #fff;
    background-color: #800020 !important;
    border-color: #800020 !important;
}

.mapboxgl-ctrl-group {
    width: 30px;
    margin: 80px 0 0 10px;
    right: 8px;
}

