.mapboxgl-popup-content {
    position: relative;
    padding:0;
    margin:0;
    background: none;
    border:none;
    
}

.cardImg{
    width:auto;
    max-height:100;
    height:auto;

}

.googlemap-button{
    padding:10px;
}

.moreinfo-button{
    padding:10px;
}

.artist-text{
    font-size: 15.5px;
    margin: 0px;
}

