.infomodal img{
    max-width:100%;
    
}
.modal-dialog{
    max-width: 450px;
    
    
    
}
.infomodal-body{
    padding:0px;
    max-height: 80vh;
    
}
.modal-header{
    padding:5px;
}


.id-box{
    background-color: black;
    border-radius: 5px;
    color:white;
}

.other-works img{
    width:100px;
    height:100px;
    border-radius: 50%;

}