
body{
    font-family: "futura", "Helvetica";
    font-weight: "bold";
}

#menu{
    position:relative;
    z-index: 50;
    width:100%;
}
#map {
    position: relative; 
    top:0; 
    bottom:0; 
    width:100%;
    height:auto
    }
  body { margin: 0; padding: 0; }
  